a {
    color: #A9B0FF;
}

body {
    font-size: 16px;
    font-family: 'Muli', 'Manrope', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    box-sizing: border-box;
    background-color: white;
    color: rgb(22, 37, 37);
}

.subtitle {
    color: rgb(126, 132, 140);
    font-weight: 900;
    margin-bottom: 1em;
}

h6.subtitle {
    font-size: 18px;
}

main {
    margin: 2rem;
    line-height: 1.5;
    background-color: white;
}

nav {
    font-size: 14px;
    color: lightslategray;
    text-align: center;
}

nav li:hover {
    color: black;
}

.nav-name {
    padding-top: .55rem;
    font-size: 1em;
    font-weight: bolder;
    color: darkslategray;
    text-align: center; 
}

footer {
    font-size: 14px;
    color: lightslategray;
}

.tagline {
    text-align: center;
    margin-top: 3em;
    margin-bottom:3em;
}

.tagline h1 {
    font-size: 30px;
}

.tagline h2 {
    font-size: 20px;
    color: lightslategray;
}

button.resume {
    margin-top: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

i.contact.fa {
    padding-left: .5rem;
    padding-right: .5rem;
    color: #A9B0FF;
}

p.time-frame {
    font-size: 16px;
}

ul ul {
    line-height: 2;
    color: rgb(76, 87, 98);
    padding-bottom: 2em;
}

.description a {
    color: rgb(76, 87, 98);
}

ul h3 {
    color: #A9B0FF;
    font-weight: bold;
    padding-bottom: 0;
}

.time-frame {
    color: rgb(158, 171, 184);
}

h5.position {
    font-weight: bold;
}

div.contents-table {
    line-height: 1.5rem;
}

.affiliation a {
    color: black;
}

div.card {
    /*box-shadow: 0 1px 3px rgb(192, 192, 192);*/
    border-radius: 0;
    border: 0;
}

img {
    border-radius: 0%;
}

.profile-photo {
    max-width: 400px;
    padding-bottom: 2rem;
}

h2.subtitle {
    font-size: 16pt;
}

.card-title {
    font-weight: 900;
    font-size: 24px;
}

@media (min-width: 598px) {
    div.content-column {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) {
    div.content-column {
        padding-left: 8rem;
        padding-right: 8rem;
    }
    /*div.contents-table {
        position: fixed;
    }*/
}


@media (min-width: 1024px) {
    div.content-column {
        padding-left: 12rem;
        padding-right: 12rem;
    }
}